# Swap files
*.swp
*.*~

# Dependency directories and files
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code directories
.vscode/

# Rider directories
.idea/

# Visual Studio directories
.vs/

# Fleet directories
.fleet/

# Code Rush directories
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
